In [31]:
import pandas as pd

In [32]:
df = pd.read_csv('survey_results_public.csv')
df.head()

C:\Users\Dell\AppData\Local\Temp\ipykernel_11656\1193837256.py:1: DtypeWarning: Columns (0: JobSatPoints_15_TEXT, 1: DatabaseHaveEntry, 2: DevEnvHaveEntry, 3: SOTagsHaveEntry, 4: SOTagsWant Entry, 5: OfficeStackWantEntry, 6: CommPlatformHaveEntr, 7: CommPlatformWantEntr, 8: SO_Actions_15_TEXT, 9: AIAgentOrchestration, 10: AIAgentObsWrite) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('survey_results_public.csv')

,ResponseId,MainBranch,Age,EdLevel,Employment,EmploymentAddl,WorkExp,LearnCodeChoose,LearnCode,LearnCodeAI,...,AIAgentOrchestration,AIAgentOrchWrite,AIAgentObserveSecure,AIAgentObsWrite,AIAgentExternal,AIAgentExtWrite,AIHuman,AIOpen,ConvertedCompYearly,JobSat
0,1,I am a developer by profession,25-34 years old,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",Employed,"Caring for dependents (children, elderly, etc.)",8.0,"Yes, I am not new to coding but am learning ne...",Online Courses or Certification (includes all ...,"Yes, I learned how to use AI-enabled tools for...",...,Vertex AI,NaN,NaN,NaN,ChatGPT,NaN,When I don’t trust AI’s answers,"Troubleshooting, profiling, debugging",61256.0,10.0
1,2,I am a developer by profession,25-34 years old,"Associate degree (A.A., A.S., etc.)",Employed,NaN,2.0,"Yes, I am not new to coding but am learning ne...",Online Courses or Certification (includes all ...,"Yes, I learned how to use AI-enabled tools for...",...,NaN,NaN,NaN,NaN,NaN,NaN,When I don’t trust AI’s answers;When I want to...,All skills. AI is a flop.,104413.0,9.0
2,3,I am a developer by profession,35-44 years old,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)","Independent contractor, freelancer, or self-em...",None of the above,10.0,"Yes, I am not new to coding but am learning ne...",Online Courses or Certification (includes all ...,"Yes, I learned how to use AI-enabled tools for...",...,NaN,NaN,NaN,NaN,ChatGPT;Claude Code;GitHub Copilot;Google Gemini,NaN,When I don’t trust AI’s answers;When I want to...,"Understand how things actually work, problem s...",53061.0,8.0
3,4,I am a developer by profession,35-44 years old,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Employed,None of the above,4.0,"Yes, I am not new to coding but am learning ne...","Other online resources (e.g. standard search, ...","Yes, I learned how to use AI-enabled tools for...",...,NaN,NaN,NaN,NaN,ChatGPT;Claude Code,NaN,When I don’t trust AI’s answers;When I want to...,NaN,36197.0,6.0
4,5,I am a developer by profession,35-44 years old,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)","Independent contractor, freelancer, or self-em...","Caring for dependents (children, elderly, etc.)",21.0,"No, I am not new to coding and did not learn n...",NaN,"Yes, I learned how to use AI-enabled tools for...",...,NaN,NaN,NaN,NaN,NaN,NaN,When I don’t trust AI’s answers,"critical thinking, the skill to define the tas...",60000.0,7.0

In [33]:
df['EdLevel'].value_counts(normalize=True)

EdLevel
Bachelor’s degree (B.A., B.S., B.Eng., etc.)                                          0.421151
Master’s degree (M.A., M.S., M.Eng., MBA, etc.)                                       0.261459
Some college/university study without earning a degree                                0.128393
Secondary school (e.g. American high school, German Realschule or Gymnasium, etc.)    0.075412
Professional degree (JD, MD, Ph.D, Ed.D, etc.)                                        0.054497
Associate degree (A.A., A.S., etc.)                                                   0.032441
Other (please specify):                                                               0.014559
Primary/elementary school                                                             0.012087
Name: proportion, dtype: float64

In [34]:
df['Country'].value_counts(normalize=False)

Country
United States of America                                7233
Germany                                                 3025
India                                                   2547
United Kingdom of Great Britain and Northern Ireland    2042
France                                                  1409
                                                        ...
San Marino                                                 1
Djibouti                                                   1
Cape Verde                                                 1
Palau                                                      1
Guinea                                                     1
Name: count, Length: 177, dtype: int64

In [37]:
employment_group = df.groupby(['Employment'])

In [39]:
print(employment_group.groups.keys())

C:\Users\Dell\AppData\Local\Temp\ipykernel_11656\14517640.py:1: Pandas4Warning: In a future version, the keys of `groups` will be a tuple with a single element, e.g. (Employment,) , instead of a scalar, e.g. Employment, when grouping by a list with a single element. Use ``df.groupby(by='a').groups`` instead of ``df.groupby(by=['a']).groups`` to avoid this warning
  print(employment_group.groups.keys())

dict_keys(['Employed', 'I prefer not to say', 'Independent contractor, freelancer, or self-employed', 'Not employed', 'Retired', 'Student'])

In [44]:
employment_group['ConvertedCompYearly'].agg(['mean', 'median', 'min', 'max'])

,mean,median,min,max
Employment,,,,
Employed,102509.588256,78890.0,1.0,33552715.0
I prefer not to say,155307.578947,42000.0,1.0,3821169.0
"Independent contractor, freelancer, or self-employed",115867.197049,72958.0,1.0,50000000.0
Not employed,81575.297619,52197.0,1.0,3900562.0
Retired,80346.563910,40842.0,1.0,1700000.0
Student,33995.873400,13922.0,1.0,10000000.0

In [47]:
employment_group['ConvertedCompYearly'].median().loc['Employed']

np.float64(78890.0)

In [ ]:
filt=df['Employment'] == 'Employed'
df.loc[filt, 'AIAgentExternal'].value_counts(normalize=True).head(10)

AIAgentExternal
ChatGPT;GitHub Copilot                                                0.087590
ChatGPT                                                               0.061799
ChatGPT;Claude Code;GitHub Copilot;Google Gemini                      0.047396
ChatGPT;Claude Code;GitHub Copilot                                    0.046893
GitHub Copilot                                                        0.046558
ChatGPT;GitHub Copilot;Google Gemini                                  0.044549
ChatGPT;GitHub Copilot;Microsoft Copilot                              0.040864
ChatGPT;Claude Code;GitHub Copilot;Google Gemini;Microsoft Copilot    0.030146
ChatGPT;GitHub Copilot;Google Gemini;Microsoft Copilot                0.029978
ChatGPT;Claude Code                                                   0.026964
Name: proportion, dtype: float64

In [52]:
df.loc[filt]['AIAgentExternal'].str.contains('Gemini')
# df.loc[filt]['AIAgentExternal'].str.contains('Gemini').sum()

0        False
1        False
3        False
7        False
8        False
         ...
49184    False
49185    False
49186    False
49187    False
49188    False
Name: AIAgentExternal, Length: 33750, dtype: bool

In [55]:
employment_group['AIAgentExternal'].apply(lambda x: x.str.contains('Gemini').sum())

Employment
Employed                                                2712
I prefer not to say                                       23
Independent contractor, freelancer, or self-employed     716
Not employed                                             156
Retired                                                   42
Student                                                  303
Name: AIAgentExternal, dtype: int64

In [61]:
employment_respondents = df['Employment'].value_counts()
employment_respondents

Employment
Employed                                                33750
Independent contractor, freelancer, or self-employed     6708
Student                                                  4428
Not employed                                             2227
Retired                                                   708
I prefer not to say                                       518
Name: count, dtype: int64

In [60]:
employers_uses_gemini=employment_group['AIAgentExternal'].apply(lambda x: x.str.contains('Gemini').sum())
employers_uses_gemini

Employment
Employed                                                2712
I prefer not to say                                       23
Independent contractor, freelancer, or self-employed     716
Not employed                                             156
Retired                                                   42
Student                                                  303
Name: AIAgentExternal, dtype: int64

In [68]:
new_df=pd.concat([employment_respondents, employers_uses_gemini],axis=1,sort=False)
new_df.rename(columns={'Employment':'Respondents', 'AIAgentExternal':'Employers_Uses_Gemini','count':'Number of Respondents'}, inplace=True)
new_df

,Number of Respondents,Employers_Uses_Gemini
Employment,,
Employed,33750,2712
"Independent contractor, freelancer, or self-employed",6708,716
Student,4428,303
Not employed,2227,156
Retired,708,42
I prefer not to say,518,23

In [71]:
new_df['Percentage_Employers_Uses_Gemini'] = (new_df['Employers_Uses_Gemini'] / new_df['Number of Respondents']) * 100
new_df

,Number of Respondents,Employers_Uses_Gemini,Percentage_Employers_Uses_Gemini
Employment,,,
Employed,33750,2712,8.035556
"Independent contractor, freelancer, or self-employed",6708,716,10.673822
Student,4428,303,6.842818
Not employed,2227,156,7.004939
Retired,708,42,5.932203
I prefer not to say,518,23,4.440154

In [74]:
new_df.sort_values(by='Percentage_Employers_Uses_Gemini', ascending=False, inplace=True)
new_df

,Number of Respondents,Employers_Uses_Gemini,Percentage_Employers_Uses_Gemini
Employment,,,
"Independent contractor, freelancer, or self-employed",6708,716,10.673822
Employed,33750,2712,8.035556
Not employed,2227,156,7.004939
Student,4428,303,6.842818
Retired,708,42,5.932203
I prefer not to say,518,23,4.440154

In [75]:
new_df.loc['Retired']

Number of Respondents               708.000000
Employers_Uses_Gemini                42.000000
Percentage_Employers_Uses_Gemini      5.932203
Name: Retired, dtype: float64

In [77]:
df['AIAgentExternal'].value_counts()

AIAgentExternal
ChatGPT;GitHub Copilot                                            669
ChatGPT                                                           549
ChatGPT;Claude Code;GitHub Copilot;Google Gemini                  371
ChatGPT;GitHub Copilot;Google Gemini                              370
ChatGPT;Claude Code;GitHub Copilot                                352
                                                                 ...
ChatGPT;Claude Code;GitHub Copilot;v0.dev;Bolt.new;Blackbox AI      1
ChatGPT;Claude Code;Google Gemini;AgentGPT;Auto-GPT                 1
ChatGPT;AgentGPT;Blackbox AI                                        1
Claude Code;GitHub Copilot;Microsoft Copilot;v0.dev                 1
ChatGPT;Claude Code;Tabnine;Perplexity                              1
Name: count, Length: 1311, dtype: int64

In [78]:
df['AIAgentExternal'].value_counts(normalize=True)

AIAgentExternal
ChatGPT;GitHub Copilot                                            0.080293
ChatGPT                                                           0.065891
ChatGPT;Claude Code;GitHub Copilot;Google Gemini                  0.044527
ChatGPT;GitHub Copilot;Google Gemini                              0.044407
ChatGPT;Claude Code;GitHub Copilot                                0.042247
                                                                    ...
ChatGPT;Claude Code;GitHub Copilot;v0.dev;Bolt.new;Blackbox AI    0.000120
ChatGPT;Claude Code;Google Gemini;AgentGPT;Auto-GPT               0.000120
ChatGPT;AgentGPT;Blackbox AI                                      0.000120
Claude Code;GitHub Copilot;Microsoft Copilot;v0.dev               0.000120
ChatGPT;Claude Code;Tabnine;Perplexity                            0.000120
Name: proportion, Length: 1311, dtype: float64